
    <mat-card>
      <mat-card-title>Resources </mat-card-title>
      <ng-container *ngFor="let resource of this.resources">
        <mat-list-item *ngIf="resource.unlocked">
          {{resource.name}} : {{resource.quantity | number : '1.2-2'}}
        </mat-list-item>
      </ng-container>
    </mat-card>

    <mat-card>
      <button mat-button (click)="writeCode()"> Write some code </button>
      <button mat-button *ngIf="this.resources[1].unlocked" (click)="slackReddit()"> Slack on reddit </button>

    </mat-card>

    <mat-card *ngIf="this.prestiges[0].buyable || this.prestiges[0].quantity > 0 ">
      <ng-container *ngFor="let prestige of this.prestiges" >
        <div *ngIf="prestige.unlocked">
          <button mat-button (click)="callItADay()"  class="primair"
                  [disabled]="!prestige.buyable"> {{prestige.description}} </button>
        </div>
      </ng-container>
    </mat-card>

    <mat-card *ngIf="this.producerUnlocked">
    <mat-card-title>Producers </mat-card-title>
    <mat-list>
      <ng-container *ngFor="let producer of this.producers" >
        <mat-list-item *ngIf="producer.unlocked">
          {{producer.name}} : {{producer.quantity}}
          <button mat-button (click)="buy(producer)"> {{producer.description}} </button>
          Price : {{ producer.getPrice()}}
        </mat-list-item>
      </ng-container>
    </mat-list>
    </mat-card>

    <mat-card *ngIf="this.upgradeUnlocked">
      <mat-card-title>Upgrades </mat-card-title>
      <ng-container *ngFor="let upgrade of this.upgrades" >
        <div *ngIf="upgrade.unlocked && !upgrade.bought">
          <button mat-button (click)="buyUpgrade(upgrade)"> {{upgrade.name}} </button>
          Price : {{ upgrade.price.size | number : '1.2-2'}} {{ this.resources[upgrade.price.unlockableId -1].name}}
        </div>
      </ng-container>
    </mat-card>


{{this.playerTime}}
